/* Hero Section Styling */
.hero-section {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 5rem;
  background-color: #eff2ff;
  min-height: 100vh;
  height: auto;
  overflow: hidden;
}

/* Hero Vector Background */
.hero-vector {
  position: absolute;
  left: 0;
  z-index: 1;
}

/* Content Section */
.hero-content {
  flex: 1;
  max-width: 50%;
  z-index: 2;
}

.hero-content h1 {
  font-size: 3rem;
  font-weight: bold;
  font-family: "Outfit", sans-serif;
  color: #333;
}

.hero-content p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #555;
}

/* Buttons Section */
.hero-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup-btn {
  background-color: #2e5bff;
  color: white;
  border: none;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  max-width: 26 0px;
}

.signup-btn:hover,
.login-btn:hover {
  background-color: #1e4bf5;
}

.login-text {
  margin-top: 1rem;
  font-size: 0.9rem;
  font-family: "Inter", sans-serif;
}

.login-text a {
  color: black;
  font-weight: 500;
  text-decoration: underline;
}

/* Hero Image Container */
.hero-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Set reference for absolute children */
}

/* Corner Image Styling */
.corner-image {
  position: absolute;
  top: -5vh; /* Stick to the top */
  right: 2vw; /* Stick to the right */

  width: 40%; /* Adjust width */
  height: 27%; /* Adjust height */
  z-index: 5;
}
.corner-image2 {
  position: absolute;
  top: 35vh; /* Stick to the top */
  left: -2vw; /* Stick to the right */

  width: 40%; /* Adjust width */
  height: 30%; /* Adjust height */
  z-index: 5;
}

/* Happy Face Image */
.happyFace {
  border-radius: 20px;
  position: relative;
  z-index: 1;
  width: 70%;
  height: auto;
}

/* For Mobile Devices */
.hero-image1 {
  display: none;
}

@media screen and (max-width: 768px) {
  .hero-image1 {
    display: block;
  }
  .hero-image {
    display: none;
  }
  .hero-content {
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  .hero-section {
    padding: 0;
    align-items: flex-start;
    justify-content: center;
  }
}
