.logo-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
  gap: 10px;
}

.logo-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f4f6; /* Light circle background */
  border-radius: 50%;
  height: 100px;
  width: 100px;
  overflow: hidden;
}

.logo-item img {
  max-width: 70%;
  max-height: 70%;
  object-fit: contain;
}
